body(style="padding: 15px 15px; width: 620px;")
    div
        div(style="width: 40%;")
            img(src="http://munhen-stock.com.ua/bundles/app/img/munhen_logo.png" 
            alt="" style="max-width: 99%; float: left;")
        div(style="width: 60%; float: left;text-align: center; ")
            div(style="width: 50%; float: left; font-size: 1em")
                a(href="tel:+380677402920" style="text-decoration: none;color: black; font-size: 12px;") 380677402920
                br
                a(href="tel:+380503702638" style="text-decoration: none;color: black; font-size: 12px;") 380503702638
                br
                a(href="tel:+380971345578" style="text-decoration: none;color: black; font-size: 12px;") 380971345578
            div(style="width: 50%; float: left;")
                a(href="mailto:tek77@ukr.net" target="_top" style="text-decoration: none; color: black; font-size: 12px;") tek77@ukr.net
                br
                a(href="mailto:prin@ukr.net" target="_top" style="text-decoration: none; color: black; font-size: 12px;") prin@ukr.net
    table(style="width: 92%;border-spacing: 0px;")
        tr(style="background: #c01027")
            td(style="width: 20%;text-align: center; height: 25px; font-size: 14px;")
                a(target="_blank" href="http://munhen-stock.com.ua/zhinochii_c" style="text-decoration: none; color: #fff;")
                    p(style="margin: 0px;") Жіночий
            td(style="width: 20%;  color: #fff;text-align: center; height: 25px; font-size: 14px;")
                a(target="_blank" href="http://munhen-stock.com.ua/cholovichii_c" style="text-decoration: none; color: #fff;")
                    p(p style="margin: 0px;") #{name}
            td(style="width: 20%;  color: #fff;text-align: center; height: 25px; font-size: 14px;")
                a(target="_blank" href="http://munhen-stock.com.ua/ditiachii_c" style="text-decoration: none; color: #fff;")
                    p(p style="margin: 0px;") Дитячий
            td(style="width: 20%;  color: #fff;text-align: center; height: 25px; font-size: 14px;")
                a(target="_blank" href="http://munhen-stock.com.ua/vzuttia_c" style="text-decoration: none; color: #fff;")
                    p(p style="margin: 0px;") Взуття
            td(style="width: 20%;  color: #fff;text-align: center; height: 25px; font-size: 14px;")
                a(target="_blank" href="http://munhen-stock.com.ua/aksiesuari_c" style="text-decoration: none; color: #fff;")
                    p(p style="margin: 0px;") Аксесуари

    a(target="_blank" href="http://munhen-stock.com.ua/v-odnomu-loti-85od-aksiesuari-10-11od-c-a-topolino-wheat-nimiechchina-daniia")
        div(style="width: 90%; float: left;margin-left: 5px;")
            h3(style="display: block; background: #c01027; float:left; color: #fff; margin-bottom: 0;padding: 5px;")
    
    
    
