.button {
    border: none;
    border-radius: 2px;
    background-color: rgba(0, 60, 255, 0.74);
    padding: 10px 25px;
    cursor: pointer;
    color: #ffffff;
    font-size: 16px;
    transition: all 0.3s transform 0.1s;
}
.button:disabled {
    background-color: #b1b0ae;
    cursor: not-allowed;
}
.button:hover:disabled {
    background-color: #b1b0ae;
    color: #ffffff;
}
.button:hover {
    background-color: #ffffff;
    color: rgba(0, 60, 255, 0.74);
}
.button:hover path {
    fill: rgba(0, 60, 255, 0.74);
}
.button:active {
    transform: translateY(2px);
}
