@import url("https://fonts.googleapis.com/css?family=Roboto:300");
@import url("https://fonts.googleapis.com/css?family=Roboto:700");

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;

    font-weight: 700;
}
body {
    width: 100%;
    min-height: 100vh;
    background-color: #111111;
    color: rgba(255, 255, 255, 0.7);
}
.container {
}
.table {
}
.table {
    width: 100%;
    margin-top: 20px;
}
.table__thead > tr {
    background-color: #232323;
}
.table__thead th {
    padding: 10px;
}
tbody th {
    text-align: left;
}
