.create-letter__item {
    width: 100%;
    background-color: #232323;
    padding: 15px;
    margin-bottom: 10px;
}
.create-letter__item > hr {
    margin: 20px 0;
}
.create-letter__item-input-radio-group {
    display: flex;
}
.create-letter__item-input-number-group {
    display: flex;
    flex-direction: column;
}
.create-letter__item-input-number-group > label {
    width: 20%;
}
.create-letter__item-input-radio-group > div {
    padding: 10px 0 0 10px;
}
.create-letter__item > div:first-child {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}
