.receiver-table {
    width: 100%;
    margin-top: 20px;
}
.receiver-table__thead > tr {
    background-color: #232323;
}
.receiver-table__thead th {
    padding: 15px 0;
}
.receiver-table__wrap .progress-bar {
    width: 25px;
    margin: 10px auto;
}
.receiver-table__wrap .progress-bar > img {
    width: 50px;
}
.receiver-table__wrap .scroll-tooltip{
    text-align: center;
    font-weight: 100;
    font-size: 20px;
}
